@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

h3 {
  color: white;
}

.LayerBuilder {
  border: black 1px solid;
  display: flex;
  justify-content: space-between;
  font-family: "Indie Flower", cursive;
  margin-top: 30px;
  font-size: 18px;
}

.Flavor {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.flavorBox {
  height: 20px;
  width: 30px;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px black solid;
}

button {
  margin-top: 30px;
  margin-right: 20px;
  padding-left: 10px;
}
